{
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "quoteProps": "as-needed",
  "vueIndentScriptAndStyle": false,
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "proseWrap": "preserve",
  "insertPragma": false,
  "requirePragma": false,
  "overrides": [
    {
      "files": ["*.json", ".eslintrc.json", ".prettierrc", "tsconfig.json", "package.json"],
      "options": {
        "tabWidth": 2,
        "printWidth": 120
      }
    },
    {
      "files": ["*.css", "*.scss", "*.less"],
      "options": {
        "printWidth": 120,
        "singleQuote": false
      }
    },
    {
      "files": ["*.md", "*.mdx"],
      "options": {
        "printWidth": 90,
        "proseWrap": "always",
        "semi": false
      }
    },
    {
      "files": ["*.yaml", "*.yml"],
      "options": {
        "tabWidth": 2,
        "singleQuote": false,
        "printWidth": 120
      }
    },
    {
      "files": ["*.sql"],
      "options": {
        "tabWidth": 2,
        "printWidth": 120
      }
    }
  ]
}